.allBackground{
    background-color: var(--human-white) !important;
    width: 100%;
    height: 100%;
    left:0px;
    top:0px;
    position: absolute;
}

.footer{
    visibility: hidden;
    z-index: 99;
    animation: animation-load-card 6s;
    position: absolute;
    bottom:75px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.text-footer{
    opacity: 0.8;
    font-size: 13px;
}


.footertext{
    color: var(--human-black);
    position: relative;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.build-tag{
    position: relative;
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    z-index: 99;
    color: var(--human-black);
    opacity: 0.5;
}

.BL{
    width: 50%;
    border-left: 0px solid var(--human-greydark);
    position: relative;
    display: flex;
    user-select: none !important;
}
.shadow-BL{
    position: absolute;
    left:0px;
    height: 100%;
    width: 60px;        
    z-index: 399;
    opacity: 0.7;
    background: linear-gradient(90deg, var(--human-white) 40%, rgba(255,255,255,0.2) 100%);
}

.shadow-BL2{
    position: absolute;
    right:0px;
    height: 100%;
    width: 60px;          
    z-index: 399;
    opacity: 0.7;
    background: linear-gradient(270deg, var(--human-white) 40%, rgba(255,255,255,0.2) 100%);
}

.BR{
    width: 50%;
    border-right: 0px solid var(--human-greydark);
    position: relative;
    display: flex;
    user-select: none !important;
}

.shadow-BR{
    position: absolute;
    right:0px;
    height: 100%;
    width: 60px;       
    z-index: 399;
    opacity: 0.7;
    background: linear-gradient(270deg, var(--human-white) 40%, rgba(255,255,255,0.2) 100%);
}


.shadow-BR2{
    position: absolute;
    left:0px;
    height: 100%;
    width: 60px;         
    z-index: 399;
    opacity: 0.7;
    background: linear-gradient(90deg, var(--human-white) 40%, rgba(255,255,255,0.2) 100%);
}

.bottom-scroll-container {
    background-color: var(--human-white);
    height: 50px;
    width: 100%;
    bottom: 0px;
    position: absolute;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: flex-start;
    align-content: center;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap:30rem;
    user-select: none !important;
  }
  
  .bottom-scroll-container::-webkit-scrollbar {
    display: none; /* Hide the scrollbar for WebKit based browsers */
  }
  

.arrowdown {
  position: absolute;
  bottom: 45px;
  height: 8px;
  width: 20px;
  z-index: 299;
  color: var(--human-white);
  stroke: var(--human-blue);
  border: none !important;
  stroke-width: 30px;
  left: 50%; /* Aligns horizontally to the center */
  transform: translateX(-50%) scale(7); /* Centers the element */
  transition: all ease-in-out 0.3s;
  cursor: pointer;
}

.arrowdown:hover{
    color: var(--human-pink);
    stroke: var(--human-white);
    transform: translateX(-50%) scale(8); /* Centers the element */
}

.forall-container{
  position: absolute;
  bottom: 85px;
  height: 40px;
  width: 130px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 299;
  color: var(--human-pink);
  border-radius: 5px;
  font-weight: 600;
  border: var(--human-black) solid;
  background-color: white;
  left: 50%; /* Aligns horizontally to the center */
  transform: translateX(-50%); /* Centers the element */
}

.iconlabelsdoners{
    position: relative;
    top:4px;
}

.arrowdown2 {
    position: absolute;
    bottom: 12px;
    width: 470px;
    z-index: 399;
    color: var(--human-greydark);
    text-align: center; /* Center the text horizontally */
    left: 50%; /* Move the element halfway across the container */
    transform: translateX(-50%); /* Adjust the position to center it accurately */
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    align-content: center;
    opacity: 0.5;
}
  
.label-recent-doners{
    width: 50%;
    font-size: 17px;
    user-select: none !important;
}

.label-recent-joiners{
    width: 50%;
    font-size: 17px;
    user-select: none !important;
}

@keyframes scaleInOut{
    0%{
        transform: scale(3.5);
    }
    50%{
        transform: scale(3.3);
    }
    100%{
        transform: scale(3.5);
    }
}
