.container-big2{
    position: absolute;
    height: 100%;
    width: 1200px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden !important;
    gap:35%;
}
.container-big2-1{
    position: relative;
    width: 33%;
    height: 87%;
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    gap:1rem;
}
.container-big2-3{
    width: 34%;
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding-right: 1rem;
    padding-left: 1rem;
    gap:2rem;
}

.container-big2-1MODIFIED{
    position: relative;
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
}


.arrowupfullempty{
    width: 100%;
    height: 100%;
    transform: scale(0.1);
    opacity: 0.3;
}

.container-campaign-full-empty{
    position: fixed;
    width: 380px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    height: 635px;
    z-index: 400;
    margin-right: 10px;
    background-color: white;
    border-radius: 15px;
    animation: slideIn 0.3s forwards ease-in;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    transition: all ease-in-out 0.3s;
    direction: ltr;
    z-index: 9;
    opacity: 0.6;
    transition: all ease 1s;
}

.container-campaign-full-empty.filemode{
    opacity: 0;
}



.container-campaign-full2 {
    position: fixed;
    width: 380px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
    height: 635px;
    z-index: 400;
    margin-right: 10px;
    background-color: var(--human-white);
    border-radius: 15px;
    animation: slideIn 0.3s forwards ease-in;
    display: flex;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    transition: all ease-in-out 0.3s;
    direction: ltr;
    z-index: 999 !important;
    animation: enterCard 1s ease-in-out;
    box-shadow: 0px 0px 30px #bdbdbd;
}

@keyframes enterCard{
    from{
        top: 150%;
        transform: translate(-50%, -50%) rotate(30deg);
    }
    to{
        top: 50%;
        transform: translate(-50%, -50%) rotate(0deg);
    }
}


.container-campaign-full2.filemode{
    height: 315px;
}
  
.container-switch2{
    position: relative;
    width: 350px;
    height: 32px;
    border:solid 1px var(--human-greydark);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:0.5rem;
    padding: 0.2rem;
}

.container-campaigns-manager2 {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    flex-direction: column;
    align-items: center;
    gap:1rem;
  }
  


.container-campaign2{
    width: 100%;
    height: 220px;
    background-color: var(--human-white);;
    border-radius: 10px;
    border: 0px solid var(--human-greydark);
    box-shadow: 0px 0px 30px #bdbdbd;
    transition: all ease-in-out 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
}

.container-campaign2:hover{
    transform: scale(1.03);
}


.container-campaign-1,.container-campaign-2,.container-campaign-3{
    align-items: center;
    display: flex;
    position: relative;
}
.container-campaign-1{
    height: 600px!important;
    width: 100%;
    border-radius: 10px;
    background-size: 400px;
    background-position: -100px 0px;
    cursor: pointer;
}

.container-campaign-2{
    height: 300px!important;
    width: 100%;
    padding-left: 2rem;
    padding-right: 2rem;
}

.container-campaign-3{
    height: 300px!important;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items:center;
    display: flex;
}



.switch-approve{
    width: 80px;
    height: 100%;
    background-color: var(--human-greydark);
    border-radius: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    user-select: none;
    font-weight: 500;
    cursor: pointer;
    padding-bottom: 1px;
    opacity: 0.6;
    transition: all ease-in-out 0.3s;
}

.switch-approve.active{
    background-color: var(--human-blue);
    opacity: 1;
}

.switch-approve:hover{
    background-color: var(--human-blue);
    opacity: 0.6;
}


.container-campaign-full-1-2{
    position: relative;
    width: 100%;
    height: 40%;
    background-size: 500px;
    background-position: -100px 0px;
    transition: all ease-in-out 0.3s;
}

.container-campaign-full-1-2.filemode{
    background-position: -100px -80px;
    background-size: 560px;
}

.container-campaign-full-1-2.storymode{
    background-position: -130px -60px;
    background-size: 760px;
    filter:grayscale();
}


.container-campaign-full-2-2{
    position: relative;
    width: 100%;
    height: 10%;
    background-size: 500px;
    background-position: -100px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all ease-in-out 0.3s;
}



.download-btn-full-container2{
    text-align: center;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:1rem;
    padding-left: 1rem;
    scroll-padding-right: 1rem;
}

.download-btn-full-text2{
    text-align: justify;
    width: 100%;
    color: var(--human-black);
    border-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.download-btn-full2{
    text-align: center;
    width: 200px;
    color: var(--human-white);
    border-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--human-blue);
    cursor: pointer;
    user-select: none;
    transition: all ease-in-out 0.3s;
}


.decision-btn-full-text{
    text-align: justify;
    width: 100%;
    color: var(--human-black);
    border-radius: 10px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    opacity: 0.7;
}

.deny-btn-full{
    text-align: center;
    width: 200px;
    color: var(--human-white);
    border-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--human-blue);
    cursor: pointer;
    user-select: none;
    transition: all ease-in-out 0.3s;
}

.deny-btn-full:hover{
    background-color: var(--human-darkblue);
}

.approve-btn-full{
    text-align: center;
    width: 200px;
    color: var(--human-white);
    border-radius: 10px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--human-pink);
    cursor: pointer;
    user-select: none;
    transition: all ease-in-out 0.3s;
}

.approve-btn-full:hover{
    background-color: var(--human-darkpink);
}

.decisionBOX{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap:1rem;
}

.container-campaigns-manager2SHADOW{
    position: absolute;
    width: 350px;
    bottom:100px;
    background: linear-gradient(0deg, var(--human-grey) 40%, rgba(255,255,255,0) 100%);
    height: 105px;
    z-index: 9;
}

.container-chart{
    width: 85%;
    height: 300px;
    position: relative;
    background-color: var(--human-white);
    z-index: 9;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-chart2{
    width: 85%;
    height: 300px;
    position: relative;
    background-color: var(--human-white);
    z-index: 9;
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-big2-1-SCROLLABLE{
    position: relative;
    display: flex;
    width: 100%;
    height: 580px;
    background-color: white;
    overflow-y: scroll;
    overflow-x: hidden;
    flex-direction: column;
    scroll-behavior: smooth;
    border-radius: 10px;
    padding: 1rem;
    direction: rtl;
}

  
.container-big2-1-SCROLLABLE::-webkit-scrollbar {
    width: 0.5rem; /* Adjust the width as needed */
    background-color: transparent;
}

.container-big2-1-SCROLLABLE::-webkit-scrollbar-thumb {
  background-color: #ccc; /* Adjust the color as needed */
  border-radius: 10px; /* Adjust the radius as needed */
}

.container-big2-1-SCROLLABLE::-webkit-scrollbar-thumb:hover {
  background-color: #aaa; /* Adjust the hover color as needed */
}

.container-big2-1-FILTERS{
    height: 40px;
    width: 100%;
    position: relative;
    display:flex;
    background-color: var(--human-white);
    justify-content: center;
    border-radius: 10px;
    align-items: center;
    padding: 5px;
    gap: 5px;
}

.filter-1,.filter-2{
    width: 50%;
    position: relative;
    display:flex;
    background-color: var(--human-white);
    justify-content: center;
    border-radius: 6px;
    align-items: center;
    transition: all ease-in-out 0.3s;
    cursor: pointer;
    height: 100%;
}

.filter-1.active,.filter-2.active{
    background-color: var(--human-darkpink);
    color: var(--human-white);
}



.other-methods-line2{
    position: absolute;
    width: 92%;
    height: 10px;
    border-bottom: solid 1px var(--human-greydark);
    text-align: center;
    top:16px;
    left:15px;
    user-select: none;
}
.other-methods2{
    text-align: center;
    background-color: white;
    border:solid 1px var(--human-greydark);
    color: var(--human-greydark);
    border-radius: 10px;
    width: 200px;
    position: relative;
    z-index: 99;
    font-size: 14px;
    user-select: none;
}


.bar-title2{
    position: relative;
    text-align: center;
    font-size: 20px;
    font-weight: 500;
    top:2px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden; 
    width: 100%; 
    user-select: none;
}

